<!DOCTYPE html>
<html>

<head>
    <%- include('../../partials/head.ejs') %>
        <style>
            .container {
                margin-top: 60px;
                margin-bottom: 20px;
                padding-top: 14px;
                display: flex;
                flex-direction: column;
                gap: 20px
            }

            .insertLabel {
                height: 34px;
                display: flex;
                justify-content: space-between;
                gap: 242%;
            }

            .table-wrapper {
                width: 100%;
                overflow-x: auto;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
            }

            table {
                min-width: 1600px;
            }

            .action {
                display: flex;
                flex-direction: row;
                gap: 4px;
            }
            
            .date {
                 width: 300px;
            }
        </style>
</head>

<body>
    <div class="container table-wrapper">
        <div class="insertLabel">
            <select class="form-select form-select-lg mb-3 pageCount" aria-label=".form-select-lg example" id="limit"
                onchange="loadStudentPage()">
                <option value="5" href="#">5</option>
                <option value="10" href="#" selected>10</option>
                <option value="20" href="#">20</option>
                <option value="40" href="#">40</option>
            </select>
            <a class="btn btn-info" href="/student/add">Add</a>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Sno</th>
                    <th scope="col">Name</th>
                    <th scope="col">RegisterNumber</th>
                    <th scope="col">DOB</th>
                    <th scope="col">CourseName</th>
                    <th scope="col">EmailId</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">fatherName</th>
                    <th scope="col">fatherNumber</th>
                    <th scope="col">Address</th>
                    <th scope="col">BlockCode</th>
                    <th scope="col">FloorNumber</th>
                    <th scope="col">RoomNumber</th>
                    <th scope="col">JoinedDate</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">CreatedBy</th>
                    <th scope="col">UpdatedAt</th>
                    <th scope="col">UpdatedBy</th>
                    <th scope="col">DeletedAt</th>
                    <th scope="col">DeletedBy</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="studentsData">
                <tr>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pagination">
                <li class="page-item disabled" id="previous-page">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item" id="next-page">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
<script>
    var tableData = document.getElementById("studentsData")
    var page = document.getElementById("pagination").value
    var currentPage = 1
    
    function loadStudentPage() {
        var limitSelect = document.getElementById("limit").value

        var requestOptions = {
            method: 'GET'
        };

        fetch(`http://localhost:1000/api/student?limit=${limitSelect}&page=${page}`, requestOptions)
            .then(response => response.json())
            .then(students => {
                var trHtml = ''
                for (var i = 0; i < students.length; i++) {
                    var student = students[i]
                    trHtml = trHtml + `<tr>
                            <td>${i + 1}</td>
                            <td>${student.name}</td>
                            <td>${student.registerNumber}</td>
                            <td>${student.dob}</td>
                            <td>${student.courseName}</td>
                            <td>${student.emailId}</td>
                            <td>${student.phoneNumber}</td>
                            <td>${student.fatherName}</td>
                            <td>${student.fatherNumber}</td>
                            <td>${student.address}</td>
                            <td>${student.blockCode}</td>
                            <td>${student.floorNumber}</td>
                            <td>${student.roomNumber}</td>
                            <td>${student.joinedDate}</td>
                            <td>${student.createdAt}</td>
                            <td>${student.created}</td>
                            <td>${student.updatedAt}</td>
                            <td>${student.updated}</td>
                            <td>${student.deletedAt}</td>
                            <td>${student.deletedBy}</td>
                            <td class="action">
                                <a class="btn btn-secondary" href="/student/${student.studentId}">Edit</a>
                                <a class="btn btn-secondary" onClick="deleteStudent(${student.studentId})">Delete</a>
                            </td>
                        </tr>`
                }
                tableData.innerHTML = trHtml
                var totalPages = Math.ceil(student.totalStudents / limitSelect)
                var paginationHtml = ''
                var pagination = document.getElementById("pagination")

                for (var i = 1; i <= totalPages; i++) {
                    paginationHtml += `<li class="page-item">
                          <a class="page-link" href="#" onclick="loadStudentPage(${i})">${i}</a>
                       </li>`;
                }
                pagination.innerHTML = paginationHtml;
            })
            .catch((error) => console.error(error));
    }

    function deleteStudent(studentId) {
        var validateDelete = confirm('are you sure you want to delete?')

        if (!validateDelete)
            return

        var requestOptions = {
            method: 'DELETE',
        };

        fetch("http://localhost:1000/api/student/" + studentId, requestOptions)
            .then(response => response.text())
            .then(deleted =>
                window.location = '/student'
            )
            .catch(error => console.log('error', error));
    }

    window.addEventListener('load', () => {
        loadStudentPage()
    })

</script>

</html>