<%- include('../../partials/header.ejs', { isMenuVisible : true, title: 'Student List' }) %>
<div class="contentMain">
<div class="d-flex justify-content-between align-items-center my-2">
    <h3 class="col-auto me-2 controlAlign">Student</h3>
    <div class="d-flex align-items-center">
        <div class="mx-1">
            <select class="form-select" id="limit" onchange="changeLimit()">
                <option value="5" href="#">5</option>
                <option value="10" href="#" selected>10</option>
                <option value="20" href="#">20</option>
                <option value="40" href="#">40</option>
            </select>
        </div>
        <div class="mx-1">
            <form onkeyup="handleSearch(event)">
                <input class="form-control" id="searchInput" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <div class="mx-1">
            <a class="btn btn-info" href="/student/add">Add</a>
        </div>
    </div>
</div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Sno</th>
                <th scope="col" onclick="sortByColumn('name')">Name</th>
                <th scope="col" onclick="sortByColumn('registerNumber')">Register Number</th>
                <th scope="col" onclick="sortByColumn('joinedDate')">Joined Date</th>
                <th scope="col" onclick="sortByColumn('createdBy')">Created By</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="studentsData">
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination">
        </ul>
    </nav>
    </div>
    
    <%- include('../../partials/footer.ejs') %>
        <script>
            var currentPage = 1;
            var searchQuery = '';
            var tableData = document.getElementById("studentsData");
            var limit = document.getElementById("limit").value;
            var paginationDom = document.getElementById("pagination");
            var columnSortOrders = {
                name: 'ASC',
                registerNumber: 'ASC',
                joinedDate: 'ASC'
            };

            var currentColumn = 'createdAt';
            var url = `&orderby=s.${currentColumn}&sort=DESC`;
           
            function changeLimit() {
                limit = document.getElementById("limit").value
                studentPage()
            }

            function handleSearch(event) {
                event.preventDefault();
                searchQuery = document.getElementById("searchInput").value;
                studentPage();
            }

            function sortByColumn(column, sortOrder) {
                columnSortOrders[column] = sortOrder;
                currentColumn = column;
                url = `&orderby=s.${currentColumn}&sort=${sortOrder}`;
                studentPage(currentPage);
            }

            function studentPage(pageNo = 1) {
                currentPage = pageNo
                var requestOptions = {
                    method: 'GET'
                };

                fetch(`http://localhost:1000/api/student?limit=${limit}&page=${pageNo}` + url + `&search=${encodeURIComponent(searchQuery)}`, requestOptions)
                    .then(response => response.json())
                    .then(responseData => {

                        const { students, studentCount } = responseData;

                        var trHtml = ''
                        for (var i = 0; i < students.length; i++) {
                            var student = students[i]
                            trHtml += `<tr>
                            <td>${(currentPage - 1) * limit + (i + 1)}</td>
                            <td>${student.name}</td>
                            <td>${student.registerNumber}</td>
                            <td>${student.joinDate}</td>
                            <td>${student.createdFirstName} ${student.createdLastName}</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle mr-2 focus" viewBox="0 0 16 16" onclick="readStudentById(${student.studentId})">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square mr-2 focus" viewBox="0 0 16 16" onclick="editStudentById(${student.studentId})">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash focus" onClick="deleteBlockById(${student.studentId})" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </td>
                        </tr>`
                        }
                        tableData.innerHTML = trHtml
                        var totalPages = Math.ceil(studentCount / limit)
                        var paginationHtml = ''

                        for (var i = 1; i <= totalPages; i++) {
                            paginationHtml += `<li class="page-item">
                          <a class="page-link" href="#" onclick="studentPage(${i})">${i}</a>
                       </li>`;
                        }
                        paginationDom.innerHTML = paginationHtml;
                    })
                    .catch((error) => console.error(error));
            }

            function editStudentById(studentId) {
                window.location.href = `/student/${studentId}`;
            }

            function readStudentById(studentId) {
                console.log(studentId)
                var myHeaders = new Headers();
                var requestOptions = {
                    method: 'GET',
                    headers: myHeaders
                };

                fetch("http://localhost:1000/api/student/" + studentId, requestOptions)
                    .then(response => response.json())
                    .then(student => {
                        const existingModal = document.getElementById('studentModal');
                        if (existingModal) {
                            existingModal.remove();
                        }
                        const modalHtml = `
                        <div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Full Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Name</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.name}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Room Number</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.roomNumber}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Floor Number</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.floorNumber}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Block Code</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.blockCode}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>DOB</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.birth}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Course Name</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.courseName}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Joined Date</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.joinDate}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Phone Number</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.phoneNumber}
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Email Id</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.emailId}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Father Name</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.fatherName}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Father Number</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.fatherNumber}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Address</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.address}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Created At</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.createdTimeStamp}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Created By</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.createdFirstName} ${student.createdLastName}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>updated At</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.updatedTimeStamp}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>updated By</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${student.updatedFirstName !== null ? student.updatedFirstName : '---'} ${student.updatedLastName !== null ? student.updatedLastName : ''}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                        document.body.insertAdjacentHTML('beforeend', modalHtml);
                        var modal = new bootstrap.Modal(document.getElementById('studentModal'));
                        modal.show();
                    })
                    .catch(error => console.log('error', error));
            }

            function deleteStudentById(studentId) {
                var validateDelete = confirm('are you sure you want to delete?')

                if (!validateDelete)
                    return

                var requestOptions = {
                    method: 'DELETE',
                };

                fetch("http://localhost:1000/api/student/" + studentId, requestOptions)
                    .then(response => response.text())
                    .then(deleted =>
                        window.location = '/student'
                    )
                    .catch(error => console.log('error', error));
            }

            window.addEventListener('load', () => {
                studentPage()
            })

        </script>

