<nav>
  <ol class="breadcrumb">
    <% for(i = 0; i < breadCrumbs.length; i++) { %>
      <li class="breadcrumb-item">
        <a href="<%= breadCrumbs[i].link %>">
          <%= breadCrumbs[i].name %>
        </a>
      </li>
    <% } %>
  </ol>
</nav>

</div><!-- End Page Title -->

