<nav>
  <ol class="breadcrumb">
    <% for(let i = 0; i < breadCrumbs.length; i++) { %>
      <% if (i === breadCrumbs.length - 1) { %>
        <li class="breadcrumb-item active" aria-current="page">
          <%= breadCrumbs[i].name %>
        </li>
      <% } else { %>
        <li class="breadcrumb-item">
          <a href="<%= breadCrumbs[i].link %>">
            <%= breadCrumbs[i].name %>
          </a>
        </li>
      <% } %>
    <% } %>
  </ol>
</nav>

</div>

