<footer>
      <div class="card-footer text-body-secondary text-secondary mt-5">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">

            © 2024. All rights reserved.
          </div>
        </div>
</footer>
</div>
</body>

</html>