<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto homeFlex">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/block">Block</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blockfloor">Blockfloor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/room">Room</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/course">Course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student">Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/warden">Warden</a>
        </li>
    </ul>

</nav>
