<%- include('../../partials/header.ejs',{ isMenuVisible : true, title: 'Blockfloor' }) %>
    <h2>Block floor form</h2>
    <div class="form-group">
        <label for="blockCode">Block Code</label>
        <select class="form-control" id="blockCode">
        </select>
    </div>
    <div class="form-group">
        <label for="floorNumber">Floor Number</label>
        <input type="number" class="form-control" id="floorNumber">
    </div>
    <div class="form-group">
        <label for="status">Status</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" id="isActive" value="1">
            <label class="form-check-label" for="isActive">Active</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" id="inActive" value="0">
            <label class="form-check-label" for="inActive">Inactive</label>
        </div>
    </div>
    <div class="submission">
        <input type="hidden" id="blockFloorId" value="<%=blockFloorId %>" />
        <button onclick="saveOrUpdateBlockFloor()" class="btn btn-success" id="submitButton" disabled>Submit</button>
    </div>
    <%- include('../../partials/footer.ejs') %>
        <script>
            var blockCode = document.getElementById('blockCode');
            var floorNumber = document.getElementById('floorNumber');
            var selectedStatus = document.querySelectorAll('input[name="status"]');
            var submitButton = document.getElementById('submitButton');
            var blockFloorId = document.getElementById('blockFloorId').value;

            function getSelectedStatus() {
                let selectedStatusValue = null;
                selectedStatus.forEach(radio => {
                    if (radio.checked) {
                        selectedStatusValue = parseInt(radio.value);
                    }
                });
                return selectedStatusValue;
            }

            function saveOrUpdateBlockFloor() {
                const selectedStatusValue = getSelectedStatus();
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    "blockId": blockCode.value,
                    "floorNumber": parseInt(floorNumber.value),
                    "isActive": selectedStatusValue
                });

                var requestOptions = {
                    method: blockFloorId ? 'PUT' : 'POST',
                    headers: myHeaders,
                    body: raw
                };

                let url = "http://localhost:1000/api/blockfloor";
                if (blockFloorId) {
                    url = url + '/' + blockFloorId
                }

                fetch(url, requestOptions)
                    .then(response => response.text())
                    .then(blockFloors => window.location = '/blockfloor')
                    .catch(error => console.error('error', error));
            }

            function toggleSubmitButton() {
                const selectedStatusValue = getSelectedStatus();
                submitButton.disabled = !(
                    blockCode.value !== 'Select' &&
                    floorNumber.value.length > 0 &&
                    selectedStatusValue !== null
                )
            }

            async function initializeForm() {
                await populateBlockCode();

                if (blockFloorId) {
                    await getBlockFloorById(blockFloorId);
                }

                blockCode.addEventListener('input', toggleSubmitButton);
                floorNumber.addEventListener('input', toggleSubmitButton);
                document.querySelectorAll('input[name="status"]').forEach(radio => radio.addEventListener('change', toggleSubmitButton));
            }
            initializeForm();

            async function populateBlockCode() {
                try {
                    const response = await fetch('http://localhost:1000/api/block/blockloor/blockCodeCount');
                    const blocks = await response.json();

                    const activeOptions = [];
                    const disabledOptions = [];

                    blockCode.innerHTML = '<option selected>Select a Block</option>';

                    blocks.forEach(block => {
                        const option = document.createElement('option');
                        option.value = block.blockId;
                        option.textContent = block.blockCode;
                        if (block.floorCount === 0) {
                            option.disabled = true;
                            disabledOptions.push(option);
                        } else {
                            activeOptions.push(option);
                        }
                    });

                    activeOptions.forEach(option => {
                        blockCode.appendChild(option);
                    });

                    disabledOptions.forEach(option => {
                        blockCode.appendChild(option);
                    });

                } catch (error) {
                    console.log('Error fetching block codes:', error);
                }
            }

            async function getBlockFloorById(blockFloorId) {
                try {
                    const response = await fetch(`http://localhost:1000/api/blockfloor/${blockFloorId}`);
                    const blockFloor = await response.json();

                    blockCode.value = blockFloor.blockId;
                    floorNumber.value = blockFloor.floorNumber;

                    if (blockFloor.isActive) {
                        document.getElementById('isActive').checked = true;
                    } else {
                        document.getElementById('inActive').checked = true;
                    }
                } catch (error) {
                    console.error('Error fetching block floor details:', error);
                }
            }


        </script>