<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            width: 1000px;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            gap: 20px
        }

        .insertLabel {
            height: 34px;
            display: flex;
            justify-content: space-between;
        }

        .pageCount {
            width: 56px;
            height: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="insertLabel">
            <select class="form-select form-select-lg mb-3 pageCount" aria-label=".form-select-lg example" id="limit"
                onchange="loadCoursePage(1)">
                <option value="5" href="#">5</option>
                <option value="10" href="#" selected>10</option>
                <option value="20" href="#" >20</option>
                <option value="40" href="#" >40</option>
            </select>
            <button type="button" class="btn btn-info">Add</button>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Sno</th>
                    <th scope="col">CourseName</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">CreatedBy</th>
                    <th scope="col">UpdatedAt</th>
                    <th scope="col">UpdatedBy</th>
                    <th scope="col">DeletedAt</th>
                    <th scope="col">DeletedBy</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="courseData">
                <tr>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pagination">
                <li class="page-item disabled" id="previous-page">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item" id="next-page">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
<script>
    var tableData = document.getElementById("courseData")
    var page = document.getElementById("pagination").value
    var currentPage = 1;



    function loadCoursePage(page = 1) {
        var limitSelect = document.getElementById("limit").value

        var requestOptions = {
            method: 'GET'
        };

        fetch(`http://localhost:1000/api/course?limit=${limitSelect}&page=${page}`, requestOptions)
            .then(response => response.json())
            .then(courses => {
                var trHtml = ''
                for (var i = 0; i < courses.length; i++) {
                    var course = courses[i]
                    trHtml = trHtml + `<tr>
                            <td>${i + 1}</td>
                            <td>${course.courseName}</td>
                            <td>${course.createdAt}</td>
                            <td>${course.created}</td>
                            <td>${course.updatedAt}</td>
                            <td>${course.updated}</td>
                            <td>${course.deletedAt}</td>
                            <td>${course.deletedBy}</td>
                        </tr>`
                }
                tableData.innerHTML = trHtml
                var totalPages = Math.ceil(course.totalCourses / limitSelect)
                var paginationHtml = ''
                var pagination = document.getElementById("pagination")
                
                for (var i = 1; i <= totalPages; i++) {
                    paginationHtml += `<div class="editAction size">
                                           <a href="select" onclick="loadSchoolPage(${i})">${i}</a>
                                       </div>`;
                }
                pagination.innerHTML = paginationHtml;
            })
            .catch((error) => console.error(error));

    }

    

    window.addEventListener('load', () => {
        loadCoursePage()
    })

</script>

</html>