<% 
const mainMenu = [
  { name: 'Attendance Report', url: 'student/attendance/report/', icon: 'bi bi-card-list' },
  { name: 'Student', url: 'student/details/', icon: 'bi bi-person' },
] %>

<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <% mainMenu.forEach(item => { %>
      <% if (item.name === 'Student') { %>
        <li class="nav-heading">Pages</li>
      <% } %>
      <li>
          <a class="nav-link <%= activeMenu === item.name.toLowerCase().replace(/[\s.]+/g, '') ? 'active' : 'collapsed' %>" 
             href="<%= studentAppURL + item.url %>">
            <i class="<%= item.icon %>"></i>
            <span><%= item.name %></span>
          </a>
      </li>
    <% }) %>
  </ul>
</aside>

