<%- include('../../partials/header.ejs',{ isMenuVisible : true, title: 'Roompage' }) %>
    <div class="row my-2">
        <div class="col-auto my-1">
            <select class="form-select" id="limit" onchange="changeLimit()">
                <option value="5" href="#">5</option>
                <option value="10" href="#" selected>10</option>
                <option value="20" href="#">20</option>
                <option value="40" href="#">40</option>
            </select>
        </div>
        <div class="col">
            <form class="form-inline" onkeyup="handleSearch(event)">
                <input class="form-control mr-sm-2" id="searchInput" type="search" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <div class="col-auto">
            <a class="btn btn-info" href="/room/add">Add</a>
        </div>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Sno</th>
                <th scope="col" onclick="sortByColumn('blockId')">Block Code</th>
                <th scope="col" onclick="sortByColumn('blockFloorId')">Floor Number</th>
                <th scope="col" onclick="sortByColumn('roomNumber')">Room Number</th>
                <th scope="col" onclick="sortByColumn('isActive')">Status</th>
                <th scope="col" onclick="sortByColumn('createdBy')">Created By</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="roomsData">
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination">

        </ul>
    </nav>
    <%- include('../../partials/footer.ejs') %>
        <script>
            var currentPage = 1;
            var searchQuery = ''
            var tableData = document.getElementById("roomsData");
            var limit = document.getElementById("limit").value;
            var paginationDom = document.getElementById("pagination");
            var columnSortOrders = {
                blockId: 'ASC',
                floorNumber: 'ASC',
                roomNumber: 'ASC',
                isActive: 'ASC'
            };
            var currentColumn = 'createdAt';
            var url = `&orderby=r.${currentColumn}&sort=DESC`;

            function changeLimit() {
                limit = document.getElementById("limit").value
                roomPage()
            }

            function handleSearch(event) {
                event.preventDefault();
                searchQuery = document.getElementById("searchInput").value;
                roomPage();
            }

            function sortByColumn(column, sortOrder) {
                columnSortOrders[column] = sortOrder;
                currentColumn = column;
                url = `&orderby=r.${currentColumn}&sort=${sortOrder}`;
                roomPage(currentPage);
            }

            function roomPage(pageNo = 1) {
                currentPage = pageNo
                var requestOptions = {
                    method: 'GET'
                };

                fetch(`http://localhost:1000/api/room?limit=${limit}&page=${pageNo}` + url + `&search=${encodeURIComponent(searchQuery)}`, requestOptions)
                    .then(response => response.json())
                    .then(responseData => {
                        const { rooms, roomCount } = responseData;
                        var trHtml = ''
                        for (var i = 0; i < rooms.length; i++) {
                            var room = rooms[i]
                            trHtml = trHtml + `<tr>
                            <td>${(pageNo - 1) * limit + i + 1}</td>
                            <td>${room.blockCode}</td>
                            <td>${room.floorNumber}</td>
                            <td>${room.roomNumber}</td>
                            <td>${room.isActive === 1 ? 'Active' : ''}</td>
                            <td>${room.createdFirstName} ${room.createdLastName}</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="readRoom(${room.roomId})">
                                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                                </svg>
                                 <a href="/room/${room.roomId}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg></a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" onClick="deleteRoom(${room.roomId})" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </td>
                        </tr>`
                        }

                        tableData.innerHTML = trHtml
                        var totalPages = Math.ceil(responseData.roomCount / limit)
                        var paginationHtml = ''

                        for (var i = 1; i <= totalPages; i++) {
                            paginationHtml += `<li class="page-item">
                          <a class="page-link" href="#" onclick="roomPage(${i})">${i}</a>
                       </li>`;
                        }
                        paginationDom.innerHTML = paginationHtml;
                    })
                    .catch((error) => console.error(error));
            }

            function readRoom(roomId) {
                var myHeaders = new Headers();
                var requestOptions = {
                    method: 'GET',
                    headers: myHeaders
                };

                fetch("http://localhost:1000/api/room/" + roomId, requestOptions)
                    .then(response => response.json())
                    .then(room => {

                        const existingModal = document.getElementById('roomModal');
                        if (existingModal) {
                            existingModal.remove();
                        }
                        const modalHtml = `
                        <div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Full Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Block Code</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${room.blockCode}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Floor Number</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${room.floorNumber}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Room Number</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${room.roomNumber}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Status</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${room.isActive === 1 ? 'Active' : 'InActive'}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Created At</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${room.createdTimeStamp}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>Created By</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${room.createdFirstName} ${room.createdLastName}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>updated At</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${room.updatedTimeStamp}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <strong>updated By</strong>
                                            </div>
                                            <div class="col-sm-8">
                                                <strong> : </strong>${room.updatedFirstName !== null ? room.updatedFirstName : '---'} ${room.updatedLastName !== null ? room.updatedLastName : ''}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                        document.body.insertAdjacentHTML('beforeend', modalHtml);
                        var modal = new bootstrap.Modal(document.getElementById('roomModal'));
                        modal.show();

                    })
                    .catch(error => console.log('error', error));
            }


            function deleteRoom(roomId) {
                var validateDelete = confirm('are you sure you want to delete?')

                if (!validateDelete)
                    return

                var requestOptions = {
                    method: 'DELETE',
                };

                fetch("http://localhost:1000/api/room/" + roomId, requestOptions)
                    .then(response => response.text())
                    .then(deleted =>
                        window.location = '/room'
                    )
                    .catch(error => console.log('error', error));
            }

            window.addEventListener('load', () => {
                roomPage()
            })

        </script>