<%- include('../../partials/header.ejs',{ isMenuVisible : true, title: 'Room' }) %>
    <h2>Room form</h2>
    <div class="form-group">
        <label for="blockCode">Block Code</label>
        <select class="form-control" id="blockCode">
            <option selected>Select</option>
        </select>
    </div>
    <div class="form-group">
        <label for="floorNumber">Floor Number</label>
        <select class="form-control" id="floorNumber">
            <option selected>Select</option>
        </select>
    </div>
    <div class="form-group">
        <label for="roomNumber">Room Number</label>
        <input type="number" class="form-control" id="roomNumber">
    </div>
    <div class="form-group">
        <label for="roomCapacity">Room Capacity</label>
        <input type="number" class="form-control" id="roomCapacity">
    </div>
    <div class="form-group">
        <label for="status">Status</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" id="isActive" value="1">
            <label class="form-check-label" for="isActive">Active</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="status" id="inActive" value="0">
            <label class="form-check-label" for="inActive">Inactive</label>
        </div>
    </div>
    <div class="form-group">
        <label for="airConditioner">AirConditioner</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isAirConditioner" id="isAir" value="1">
            <label class="form-check-label" for="isAir">Active</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isAirConditioner" id="notAir" value="0">
            <label class="form-check-label" for="notAir">Inactive</label>
        </div>
    </div>
    <div class="submission">
        <input type="hidden" id="roomId" value="<%=roomId %>" />
        <button onclick="saveOrUpdateRoom()" class="btn btn-success" id="submitButton" disabled>Submit</button>
    </div>
    <%- include('../../partials/footer.ejs') %>
        <script>
            var blockCode = document.getElementById('blockCode');
            var floorNumber = document.getElementById('floorNumber');
            var roomNumber = document.getElementById('roomNumber');
            var roomCapacity = document.getElementById('roomCapacity');
            var selectedStatus = document.querySelectorAll('input[name="status"]');
            var submitButton = document.getElementById('submitButton');
            var roomId = document.getElementById('roomId').value;

            // function getSelectedStatus() {
            //     let selectedStatusValue = null;
            //     selectedStatus.forEach(radio => {
            //         if (radio.checked) {
            //             selectedStatusValue = parseInt(radio.value);
            //         }
            //     });
            //     return selectedStatusValue;
            // }

            function getSelectedRadioValue(radioName) {
                const radios = document.querySelectorAll(`input[name="${radioName}"]`);
                let selectedValue = null;
                radios.forEach(radio => {
                    if (radio.checked) {
                        selectedValue = parseInt(radio.value);
                    }
                });
                return selectedValue;
            }

            function saveOrUpdateRoom() {
                const selectedStatusValue = getSelectedRadioValue('status');
                const selectedAirConditionerValue = getSelectedRadioValue('isAirConditioner');

                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    "blockId": blockCode.value,
                    "blockFloorId": floorNumber.value,
                    "roomNumber": parseInt(roomNumber.value),
                    "roomCapacity": parseInt(roomCapacity.value),
                    "isActive": selectedStatusValue,
                    "isAirConditioner": selectedAirConditionerValue
                });

                var requestOptions = {
                    method: roomId ? 'PUT' : 'POST',
                    headers: myHeaders,
                    body: raw
                };

                let url = "http://localhost:1000/api/room";
                if (roomId) {
                    url = url + '/' + roomId
                }

                fetch(url, requestOptions)
                    .then(response => response.text())
                    .then(rooms => window.location = '/room')
                    .catch(error => console.error('error', error));
            }

            function toggleSubmitButton() {
                const selectedStatusValue = getSelectedRadioValue('status');
                const selectedAirConditionerValue = getSelectedRadioValue('isAirConditioner');

                submitButton.disabled = !(
                    blockCode.value !== 'Select' &&
                    floorNumber.value !== 'Select' &&
                    roomNumber.value.length > 0 &&
                    roomCapacity.value.length > 0 &&
                    selectedStatusValue !== null &&
                    selectedAirConditionerValue !== null
                )
            }

            async function initializeForm() {
                await populateBlockCode();
                await populateFloorNumber();

                if (roomId) {
                    await getRoomById(roomId);
                }

                blockCode.addEventListener('input', populateFloorNumber);
                floorNumber.addEventListener('input', toggleSubmitButton);
                roomNumber.addEventListener('input', toggleSubmitButton);
                roomCapacity.addEventListener('input', toggleSubmitButton);
                document.querySelectorAll('input[name="status"]').forEach(radio => radio.addEventListener('change', toggleSubmitButton));
                document.querySelectorAll('input[name="isAirConditioner"]').forEach(radio => radio.addEventListener('change', toggleSubmitButton));
            }

            initializeForm();

            async function populateBlockCode() {
                try {
                    const response = await fetch('http://localhost:1000/api/block?isActive=1');
                    const responseData = await response.json();
                    const { blocks } = responseData;

                    let optionsList = '<option selected>Select</option>';
                    blocks.forEach(block => {
                        optionsList += `<option value="${block.blockId}">${block.blockCode}</option>`;
                    });
                    blockCode.innerHTML = optionsList;
                } catch (error) {
                    console.log('Error fetching block codes:', error);
                }
            }

            async function populateFloorNumber() {
                try {
                    const blockId = blockCode.value;

                    if (blockId === 'Select' || blockId === '') {
                        floorNumber.innerHTML = '<option selected>Select a Floor</option>';
                        return;
                    }

                    const response = await fetch(`http://localhost:1000/api/blockfloor/block/${blockId}`);
                    const blockFloors = await response.json();

                    if (blockFloors.length === 0) {
                        floorNumber.innerHTML = '<option selected>No floors available</option>';
                        return;
                    }

                    let optionsList = '<option selected>Select a Floor</option>';
                    blockFloors.forEach(blockFloor => {
                        optionsList += `<option value="${blockFloor.blockFloorId}">${blockFloor.floorNumber}</option>`;
                    });
                    floorNumber.innerHTML = optionsList;
                } catch (error) {
                    console.log('Error fetching floor numbers:', error);
                }
            }

            async function getRoomById(roomId) {
                try {
                    const response = await fetch("http://localhost:1000/api/room/" + roomId);
                    const room = await response.json();

                    blockCode.value = room.blockId
                    await populateFloorNumber()
                    floorNumber.value = room.blockFloorId
                    roomNumber.value = room.roomNumber
                    roomCapacity.value = room.roomCapacity

                    if (room.isActive) {
                        document.getElementById('isActive').checked = true;
                    } else {
                        document.getElementById('inActive').checked = true;
                    }

                    if (room.isAirConditioner) {
                        document.getElementById('isAir').checked = true;
                    } else {
                        document.getElementById('notAir').checked = true;
                    }
                } catch (error) {
                    console.error('Error fetching room details:', error);
                }
            }


        </script>