<%- include('../partials/header.ejs', { 
  isMenuVisible : true,
  title: 'Home',
  user: user
}) %>
  <div class="right-head container-fluid mx-1 marginBottom">
    <h1>Hostel</h1>
    <h2>College Name</h2>
  </div>

<%- include('../partials/footer.ejs') %>
