<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Document</title>
  <style>
      .nav-bar {
          height: 4.5cm;
          display: flex;
          align-content: space-between;
          flex-direction: column;
          justify-content: center;
          font-size: 16px;
      }

      body {
          font-family: 'Times New Roman', Times, serif;
      }

      .fontSize {
          font-size: x-large;
      }

      .link {
        font-size: larger;
      }

      .linkTag-2 {
        margin: 16px;
      }

      .linkTag-1 {
        margin: 6px;
      }
  </style>
</head>
<body>
  <nav class="navbar navbar-light nav-bar" style="background-color: #e3f2fd;">
      <div class="right-head">
          <h1>Hostel</h1>
          <h2>College Name</h2>
      </div>
      <div class="left-head">
          <p class="fontSize">Welcome <%=name.name %> !</p>
          <a href="/logout" class="link linkTag-1">Logout</a>
      </div> 
  </nav>
  <div class="attendance-btn">
      <a href="#" class="link linkTag-2">Take Attendance</a>
  </div>
</body>

</html>
