<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Document</title>
  <style>
      .nav-bar {
          height: 4cm;
          display: flex;
          align-content: space-between;
          flex-direction: column;
          justify-content: center;
      }

      body {
          font-family: 'Times New Roman', Times, serif;
      }

      .font-size {
          font-size: larger;
      }
  </style>
</head>

<body>
  <nav class="navbar navbar-light nav-bar" style="background-color: #e3f2fd;">
      <div class="right-head">
          <h2>Hostel</h2>
          <p>College Name</p>
          <p>Place</p>
      </div>
      <div class="left-head">
          <p class="font-size">Welcome <%=name.username%></p>
          <a href="">Logout</a>
      </div>
  </nav>
  <div class="attendance-btn">
      <a href="">Take Attendance</a>
  </div>
</body>

</html>
