<%- include('../partials/header.ejs', { 
  isMenuVisible : true,
  title: 'home',
  user: user
}) %>
  <div class="right-head">
    <h1>Hostel</h1>
    <h2>College Name</h2>
  </div>
<%- include('../partials/footer.ejs') %>
