<%- include('../partials/header.ejs', { 
  isMenuVisible : true,
  title: 'home',
  user: user
}) %>
  <div class="right-head">
    <h1>Hostel</h1>
    <h2>College Name</h2>
  </div>
    <a href="/attendance" class="btn btn-light link text-primary my-2">Take Attendance</a>
<%- include('../partials/footer.ejs') %>
