<%- include('../partials/header.ejs', { isMenuVisible: false, title: 'login' }) %>
  <form class="container">
    <h2 class="text-primary font-weight-bold">Hostel Attendance Login</h2>
    <div class="row justify-content-center mt-5">
      <div class="col-4">
        <div class="form-group mx-auto">
          <label for="exampleInputEmail1">Email</label>
          <input type="text" class="form-control" id="emailId" aria-describedby="emailHelp" placeholder="Enter email"
            onkeyup="toggleLoginButton()" value="prem">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password"
            onkeyup="toggleLoginButton()" value="prem234">
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <input type="checkbox" id="view" onclick="secure()">
              <label class="form-check-label" for="view">Show password</label>
            </div>
            <div class="col">
              <a href="#" class="link-primary small">Forgotten password?</a>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-end">
              <button type="submit" class="btn btn-primary my-3" onclick="loginUser()" id="loginButton"
                disabled>Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script>
    const loginButton = document.getElementById('loginButton')
    const emailId = document.getElementById('emailId')
    const password = document.getElementById('password')

    function loginUser() {
      const myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      const raw = JSON.stringify({
        "emailId": emailId.value,
        "password": password.value
      });

      const requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      };

      const request = fetch("http://localhost:1000/api/login", requestOptions)
      request.then(async (response) => {
        if (response.status === 200) {
          window.location.replace("http://localhost:1000/home")
        } else {
          alert(await response.text())
        }
      })
    }

    function secure() {
      password.type = password.type === "password" ? "text" : "password"
    }

    function toggleLoginButton() {
      loginButton.disabled = !(emailId.value.length > 0 && password.value.length > 0)
    }

  </script>

  <%- include('../partials/footer.ejs') %>
