<%- include('../partials/header.ejs', { isMenuVisible: false, title: 'login' }) %>

  <form class="container">
    <h2 class="text-primary font-weight-bold">Hostel Attendance</h2>
  <div class="row justify-content-center mt-5">
    <div class="col-4">

      <div class="border">
        <form>
        <h3 class="font-weight-bold text-center">Login</h3>
        <div class="mb-3">
          <label for="emailId" class="form-label">Email address</label>
          <input type="text" class="form-control" id="emailId" onkeyup="toggleLoginButton()"
           placeholder="Enter email" aria-describedby="emailHelp" value="prem">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" placeholder="Password" id="password"
          onkeyup="toggleLoginButton()" value="prem234">
        </div>
        <div class="container mb-4">
          <div class="row">
            <div class="col">
              <input type="checkbox" id="view" class="small" onclick="secure()">
              <label class="form-check-label small" for="view">Show password</label>
            </div>
            <div class="col">
              <a href="/warden/resetpassword" class="link-primary small text-decoration-none">Forgotten password?</a>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" id="loginButton" onclick="loginUser()"
          disabled>Submit</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    const loginButton = document.getElementById('loginButton')
    const emailId = document.getElementById('emailId')
    const password = document.getElementById('password')

    function loginUser() {
      const myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      const raw = JSON.stringify({
        "emailId": emailId.value,
        "password": password.value
      });

      const requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      };

      const request = fetch("http://localhost:1000/api/login", requestOptions)
      request.then(async (response) => {
        if (response.status === 200) {
          window.location.replace("http://localhost:1000/home")
        } else {
          alert(await response.text())
        }
      })
    }

    function secure() {
      password.type = password.type === "password" ? "text" : "password"
    }

    function toggleLoginButton() {
      loginButton.disabled = !(emailId.value.length > 0 && password.value.length > 0)
    }

  </script>

  <%- include('../partials/footer.ejs') %>