<%- include('../partials/header.ejs', { isMenuVisible : false, title: 'ResetPassword' , breadcrumb: []}) %>
    <form class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-4">
                <div class="border">
                    <form>
                        <div class="mb-3">
                            <label for="emailId" class="form-label">Email</label>
                            <input type="text" class="form-control" id="emailId" placeholder="Enter email"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="col d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" id="Submit"
                                onclick="submitEmailForValidated()" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            var emailId = document.getElementById('emailId')

            function submitEmailForValidated() {
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    "emailId": emailId.value
                });

                var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                const request = fetch(`http://localhost:1000/api/resetPassword?emailId=${emailId.value}`, requestOptions)
                request.then(async (response) => {
                    if (response.status === 200) {
                        window.location.replace("http://localhost:1000/login")
                    } else {
                        alert(await response.text())
                    }
                })
            }
        </script>
        <%- include('../partials/footer.ejs') %>