<%- include('../partials/wardenuse/header.ejs', { appURL: appURL, title: 'Reset Password' }) %>

<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center
            justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="" class="logo d-flex align-items-center w-auto">
                                <img src="<%=appURL%>assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">Forgotten Password?</span>
                            </a>
                        </div><!-- End Logo -->
                        <div class="card mb-3">
                            <div class="card-body pt-4 pb-2">
                                <div class="row g-3 needs-validation" novalidate>
                                    <div class="col-12 mb-2" id="emailSection">
                                        <label for="emailId" class="form-label">Email</label>
                                        <div class="input-group has-validation">
                                            <input type="email" name="email" class="form-control" id="emailId"
                                                placeholder="Enter email" onkeyup="toggleButton()" required >
                                            <span class="invalid-feedback" id="emailError"></span>
                                        </div>
                                    </div>
                                    <div id="otpSection">
                                    <div class="col d-flex justify-content-center mb-2" >
                                        <button class="btn btn-primary" type="submit" id="sendOtp"
                                            onclick="generateOtp()" disabled>Generate OTP</button>
                                    </div>
                                    </div>
                                    <div id="additionalFields" style="display: none;">
                                        <b class="badge border-secondary border-1 text-secondary">
                                            Please enter the 6-digit code sent to your email.
                                        </b>
                                        <div class="col-12">
                                            <label for="otp" class="form-label">OTP</label>
                                                <div class="input-group has-validation">
                                                    <input type="text" class="form-control" id="otp"
                                                        onkeyup="toggleButton()" placeholder="Enter OTP">
                                                </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <small id="otpError" class="invalid-feedback" ></small>
                                            <small class="justify-content-end"><a href="javascript:void(0);"
                                                onclick="generateOtp()" class="text-end link-primary small
                                                text-decoration-none">Resend OTP</a></small>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" name="password" class="form-control"
                                                id="password" placeholder="Enter password" onkeyup="toggleButton()">
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                                            <input type="password" name="password" class="form-control"
                                                id="confirmPassword" placeholder="Enter confirm password"
                                                onkeyup="toggleButton()">
                                            <div class="invalid-feedback" id="passwordError"></div>
                                        </div>
                                        <div class="col d-flex justify-content-center mb-2">
                                            <button type="button" class="btn btn-primary" id="submit"
                                                onclick="resetPassword()" disabled>
                                                Verify OTP & Save Password</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="credits">
                            Designed by <a href="https://www.linkedin.com/in/jeeva377">Jeeva|Linkedin</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
</div>
</main>

    <!-- <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Session Expired</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="errorModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        id="redirectButton">OK</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Basic Modal -->


<script>
    const emailDom = document.getElementById('emailId');
    const sendOtpDom = document.getElementById('sendOtp');
    const additionalFieldsDom = document.getElementById('additionalFields');
    const otpDom = document.getElementById('otp');
    const passwordDom = document.getElementById('password');
    const confirmPasswordDom = document.getElementById('confirmPassword');
    const otpSectionDom = document.getElementById('otpSection');
    const emailSectionDom = document.getElementById('emailSection');
    const emailErrorDom = document.getElementById('emailError');
    const passwordErrorDom = document.getElementById('passwordError');
    const otpErrorDom = document.getElementById('otpError');
    const submitDom = document.getElementById('submit');
    // const errorModalDom = document.getElementById('errorModal');
    // const errorModalBodyDom = document.getElementById('errorModalBody');
    // const redirectButtonDom = document.getElementById('redirectButton');

    function generateOtp() {
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
            "emailId": emailDom.value
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch(getAppUrl('api/warden/generateotp'), requestOptions)
            .then(async (response) => {
                if (response.status === 200) {
                    emailSectionDom.style.display = 'none'
                    otpSectionDom.style.display = 'none'
                    sendOtpDom.style.display = 'none'
                    additionalFieldsDom.style.display = 'block'
                } else {
                    emailErrorDom.innerText = await response.text()
                    emailErrorDom.style.display = 'block'
                }
            })
            .catch(error => alert('Something went wrong.Please try later.'));
    }

    function resetPassword() {
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
             "otp": otpDom.value,
            "password": passwordDom.value
        });

        var requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch(getAppUrl('api/warden/resetpassword'), requestOptions)
            .then(async (response) => {
                if (response.status === 200) {
                    if (passwordDom.value.length < 6) {
                        passwordErrorDom.innerText = 'Password must be at least 6 characters long.'
                        return passwordErrorDom.style.display = 'block';
                    }
                    window.location = getAppUrl('login');
                } else if (response.status === 400) {
                    const errorData = await response.json();

                    if (errorData.errorType === 'OTP') {
                        otpErrorDom.innerText = errorData.message;
                        otpErrorDom.style.display = 'block';
                        if (passwordDom.value.length < 6) {
                            passwordErrorDom.innerText = 'Password must be at least 6 characters long.'
                            passwordErrorDom.style.display = 'block';
                        }
                    } else {
                        passwordErrorDom.innerText = 'Password must be at least 6 characters long.'
                        passwordErrorDom.style.display = 'block';
                    }
                } else if ([401, 404].includes(response.status)) {
                    const errorMessage = await response.text();
                        // errorModalBody.innerText = errorMessage;

                        // const modalInstance = new bootstrap.Modal(errorModal);
                        // modalInstance.show()

                        // redirectButton.addEventListener('click', function () {
                        //     window.location = '/login';
                        // });
                    alert(errorMessage)
                    window.location = getAppUrl('login');

                    }
                })
                .catch(error => alert('Something went wrong.Please try later.'));
    }

    function toggleButton() {
        sendOtpDom.disabled = !(emailDom.value.length > 0)
        submitDom.disabled = !(
            otpDom.value.length > 0 &&
            passwordDom.value.length > 0 &&
            passwordDom.value === confirmPasswordDom.value
        )
    }

    function hideError(input, errorElement) {
        input.addEventListener('input', function () {
            errorElement.style.display = 'none';
        });
    }

    hideError(emailDom, emailErrorDom);
    hideError(otpDom, otpErrorDom);
    hideError(passwordDom, passwordErrorDom);
    hideError(confirmPasswordDom, passwordErrorDom);

</script>
