<%- include('../partials/header.ejs', { isMenuVisible : false, title: 'ResetPassword' , breadcrumb: []}) %>
    <form class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-4">
                <div class="border">
                    <form>
                        <h3 class="font-weight-bold text-center mb-3">Forgotten Password ?</h3>
                        <div id="emailValid">
                            <div class="mb-3">
                                <label for="emailId" class="form-label">Email</label>
                                <input type="text" class="form-control" id="emailId" placeholder="Enter email"
                                    aria-describedby="emailHelp" onkeyup="toggleButton()">
                                <small id="errorFirst" class="errorContent"></small>
                            </div>
                            <div class="col d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-primary" id="generateOtp"
                                    onclick="submitEmailForValidated()" disabled>Generate OTP</button>
                            </div>
                        </div>
                        <div id="additionalFields" class="hidden">
                            <div class="mb-3">
                                <label for="otp" class="form-label">OTP</label>
                                <input type="number" class="form-control" id="otp" onkeyup="toggleButton()"
                                    placeholder="Enter OTP">
                                <small id="errorSecond" class="errorContent"></small>
                            </div>
                            <div class="col d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-primary" id="resendOtp"
                                    onclick="submitEmailForValidated()">Resend OTP</button>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" onkeyup="toggleButton()"
                                    placeholder="Enter password">
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword"
                                    placeholder="Enter confirm password" onkeyup="toggleButton()">
                                
                            </div>
                            <div class="col d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-primary" id="submit"
                                    onclick="submitOtpAndPassword()" disabled>Verify
                                    OTP & SavePassword</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            var emailId = document.getElementById('emailId');
            var generateOtp = document.getElementById('generateOtp');
            var additionalFields = document.getElementById('additionalFields');
            var otp = document.getElementById('otp');
            var password = document.getElementById('password');
            var confirmPassword = document.getElementById('confirmPassword');
            var emailValid = document.getElementById('emailValid');
            var errorFirst = document.getElementById('errorFirst');
            var errorSecond = document.getElementById('errorSecond');
            var submit = document.getElementById('submit');

            function toggleButton() {
                generateOtp.disabled = !(emailId.value.length > 0)
                submit.disabled = !(
                    otp.value.length > 0 &&
                    password.value === confirmPassword.value
                )
            }

            function submitEmailForValidated() {

                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    "emailId": emailId.value
                });

                var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch("http://localhost:1000/api/warden/emailValid", requestOptions)
                    .then(async (response) => {
                        if (response.status === 200) {
                            emailValid.style.display = 'none'
                            additionalFields.style.display = 'block';
                        } else {
                            errorFirst.innerText = 'Please provide valid Email.'
                            // alert(await response.text())
                        }
                    })
                    .catch(error => console.log('error', error));
            }

            function submitOtpAndPassword() {
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    "otp": otp.value
                });

                var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch("http://localhost:1000/api/warden/otp", requestOptions)
                    .then(async (response) => {
                        if (response.status === 200) {
                            submitPassword()
                        } else {
                            // alert(await response.text())
                            errorSecond.innerText = 'Invalid OTP. Please try again.'
                            return
                        }
                    })
                    .catch(error => console.log('error', error));
            }
                function submitPassword() {
                    var myHeaders = new Headers();
                    myHeaders.append("Content-Type", "application/json");

                    var raw = JSON.stringify({
                        "password": password.value
                    });

                    var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        body: raw,
                        redirect: 'follow'
                    };

                    fetch("http://localhost:1000/api/warden/newPassword", requestOptions)
                        .then(async (response) => {
                            if (response.status === 200) {
                                window.location = '/login'
                            } else {
                                alert(await response.text())
                                // window.location = '/warden/resetPassword'
                            }
                        })
                        .catch(error => console.log('error', error));
                
            }



        </script>
        <%- include('../partials/footer.ejs') %>