<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Hostel-SignUp</title>
    <style>
        .container1 {
            margin-bottom: 30px;
        }

        .container {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            border-radius: 8px;
            padding: 30px;
            width: 400px;
        }

        .submission {
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="container1">
        <div class="container">
            <div>
                <h2 class="label">Sign Up</h2>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" onkeyup="toggleLoginButton()">
                </div>
                <div class="form-group">
                    <label for="dob">DOB</label>
                    <input type="date" class="form-control" id="dob" onkeyup="toggleLoginButton()">
                </div>
                <div class="form-group">
                    <label for="emailId">EmailId</label>
                    <input type="email" class="form-control" id="emailId" onkeyup="toggleLoginButton()" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" onkeyup="toggleLoginButton()">
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" id="conform" onkeyup="toggleLoginButton()">

                </div>
                <div class="submission">
                    <button onclick="cancel()" class="btn btn-primary" id="cancel">Cancel</button>
                    <button onclick="authenticationSignUp()" class="btn btn-success" id="signUpButton"
                        disabled>Signup</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const name = document.getElementById('name');
    const dob = document.getElementById('dob');
    const emailId = document.getElementById('emailId');
    const password = document.getElementById('password');
    const signUpButton = document.getElementById('signUpButton');
    const conform = document.getElementById('conform');

    function authenticationSignUp() {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        const raw = JSON.stringify({
            "name": name.value,
            "dob": dob.value,
            "emailId": emailId.value,
            "password": password.value
        });

        const requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: raw,
            redirect: "follow"
        };

        const request = fetch("http://localhost:1000/api/warden", requestOptions)
        request.then(async (response) => {
            if (response.status === 201) {
                console.log('hi')
                window.location.replace("http://localhost:1000/login")
            } else {
                console.log('hello')
                alert(await response.text())
            }
        })
    }

    function cancel() {
        document.querySelectorAll('input').forEach(input => input.value = '')
        toggleLoginButton()
    }

    function toggleLoginButton() {
        signUpButton.disabled = !(name.value.length > 0 &&
            dob.value.length > 0 &&
            emailId.value.length > 0 &&
            password.value.length > 0 &&
            conform.value.length > 0 &&
            password.value === conform.value);
    }

</script>

</html>